<style>
    nav ul li a {
        color: black;
    }
</style>


<nav class="white   ">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo black-text">4S</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

        <li><a href="/">Главная</a></li>
        <li><a href="/rockets">Ракеты</a></li>

      </ul>
    </div>
</nav>