<style>
    nav ul li a {
        color: black;
    }
</style>


<header>
  <div class="logo">4S</div>
  <nav>
    <a href="/" class="nav_item">Главная</a>
    <a href="/rockets" class="nav_item">Ракеты</a>
    <a href="/" class="nav_item">Команда</a>
    <a href="/" class="nav_item">Контакты</a>
  </nav>
</header>