<html>
<head>
    <title>Ракеты - 4S</title>
    <link rel="stylesheet" type="text/css" href="/css/rockets.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet">
</head>
<body>
        <div class="rcontent">
            <div class="rcontent_item">
                <img src="/images/S1.jpg">
                <div class="rocket_name">
                    S1-Rocket
                </div>
            </div>
        </div>
    </article>
</body>
</html> 